<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>MyWeeklyMenu</title>
		<link rel="stylesheet" th:href="@{/styles.css}" />
	</head>
	
	<body>
	
		<h3>Daily Menu Directory</h3>
		<a th:href="@{/}">Back to Home</a>
		<hr>
		
		
		<form method="POST" th:action="@{/daily/save}" th:object="${dailyMenu}">
			<h1>Add Dishes to your DailyMenu</h1>
			<div th:if="${#fields.hasErrors()}">
				<span class="validationError">
					Please correct the problems below and resubmit.
				</span>
			</div>
			<input type="hidden" th:field="*{id}" />
			
			<h3>Add new dish for breakfast</h3>
			<select id="breakfast" th:field="*{breakfast}" multiple="multiple">
    			<option th:each="d: ${dishes}"
              		th:value="${d.id}" th:text="${d.name}">
    		</select>
			
			<h3>Add new dish for lunch</h3>
			<div th:each="d : ${dishes}">
				<input name="lunch" type="checkbox" th:value="${d.id}"
				/>
				<span th:text="${d.name}">DISH</span><br/>
			</div>
			
			<h3>Add new dish for dinner</h3>
			<div th:each="d : ${dishes}">
				<input name="dinner" type="checkbox" th:value="${d.id}"
				/>
				<span th:text="${d.name}">DISH</span><br/>
			</div>
			
			<input type="submit" value="Submit Day"/>
		</form>
		
		<hr>
		<a th:href="@{/daily/list}">Back to List of Days</a>
	</body>
</html>